@charset "utf-8";
@import url('https://fonts.googleapis.com/css2? family = Bebas + Neue & display = swap');
@font-face {
    font-family: 'idroid';
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
   /* Configurações globais */ 
   font-family: Arial, Helvetica, sans-serif;
}

header#cabecalho{
    text-align: center;
}