@charset "utf-8";
@import url('https://fonts.googleapis.com/css2? family = Bebas + Neue & display = swap');
@font-face {
    font-family: 'idroid';
    src: url('./fonts/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
   /* Configurações globais */ 
   font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
    background-color: #8ad3a0;
}

/* Configurações do cabeçalho */
header {
    color: white;
    margin-top: 0px;
    padding: 7px;
    padding-top: 15px;
    padding-bottom: 0px;
    height: 150px;
    background-image: linear-gradient(to bottom, #23A84B, #2f5c3c);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.623);
    
}

header > h1, h4 {
    margin-top: 0px; 
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.466);
}

header h4 {
    margin-bottom: 18px;
}

header h1 {
    margin-bottom: 14px;
}

header > *{
    font-family: 'Bebas Neue', cursive;
}

/* menu */
ul, nav {
    margin: 0px;
    padding: 0px;
}

li > a {
    color: #8ad3a0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: .6s;
}

li > a:hover {
    background-color: #8ad3a0;
    color: #24492f;
    padding: 15px;
}

#menu {
    display: flex;
    list-style: none;
    gap: .8rem;
}

#menu a {
    display: block;
}

nav {
    display: flex;
}

nav button {
    display: none;
}

@media(max-width: 660px){
    #menu {
        /* display: none; */
        position: absolute;
        right: 0px;
        width: 100%;
        top: 165px;
        background: #2f5c3c;
        display: block;
        
    }

    nav button {
        display: block;
        position: absolute;
        right: 0; 
    }

    #nav.active #menu{
        display: none;
    }
}  

/* conteudo */
main{
    line-height: 1.8em;
    max-width: 890px;
    margin: auto;
    margin-bottom: 15px;
    padding: 15px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 74%);
}

.letraAndroid {
    font-family: Idroid;
    color: #1b7935;
}

h2.letraAndroid{
    background-image: linear-gradient(to right, #bee9cb, white);
    border-radius: 2px;
    padding: 1.5px;
}

main > h1 {
    margin-top: 0px;
}

article > p {
    text-align: justify;
    text-indent: 30px;
}

.strongverde {
    color: #27723c;
    cursor: pointer;
}

.linksexternos{
    text-decoration: none;
    color: #18692f;
    font-weight: bold;
}

.linksexternos::after{
    content: '🔗';
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

div.video {
    background-color: #24492f;
    padding: 15px;
    margin: 0px -15px 30px -15px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
/* configurando aside */
aside{
    border-radius: 0px 0px 10px 10px;
    background-color: #7edf9b;
    box-shadow: 2px 2px 6px rgba(71, 70, 70, 0.637);
}

#titleaside {
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    font-family: "Bebas", cursive ;
    color: white;
    background-color: #31b358;
    margin-bottom: 0px;
}

aside > p {
    text-indent: 30px;
    text-align: justify;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

aside > ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

/* footer */

footer{
    padding: 6px;
    text-align: center;
    background-color: #24492f;
    color: white;
}